.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-group {
    width: 100%;
    /*padding: 5px;*/
    margin: 5px;
    background: #f7f8f9;
    border-radius: 5px;
}
.flex-group h3 {
    padding-left: 10px;
    color: gray;
}



.phones-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  padding: 3px;
}

.phones-container ul {
    margin-top: 0; /* Отступ сверху */
    margin-bottom: 0; /* Отступ снизу */  
}

.phones-container li {
    flex-grow: 1;
    flex-basis: 307px;
    max-width: 365px;
    min-width: 307px;
    height: 200px;
    padding: 0; 
    background: white;
    margin: 6px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    list-style-type: none;
}

.phones-blue-box {
    width: 100%;
    height: 80px;
    padding: 5px;
    border-radius: 5px 5px 0 0;
    background-color: #4fa4c0;
    border-bottom: 4px solid #97d8ed;
    /*background-color: #1ece7c;*/
}

.phones-blue-box h4 {
color: white;
text-transform: uppercase;
margin-top: 12px;
margin-bottom: 0;
font-size: 14pt;
}

.phones-avatar img {
    width: 48px;
    height: 48px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 10px;
}

.phones-description {
    margin: 10px;
}

.small {
margin: 0;
font-size: 12pt;
color: white;
text-transform: uppercase;
}

.strong {
    font-size: 20pt;
    margin-right: 20px;
}

.phones-description p {
     margin: 0;
     height: 50px;
}

.phones-description i {
    color: #4fa4c0;
}


.fade-enter-active, .fade-leave-active {
    transition: opacity .2s
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0
  }